@use './../const.scss';

@use "sass:color";
@use "sass:map";



.cards-block {
    background-color: const.$primary-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 3.5em 0 3.5em 0;
    z-index: 0;


    &__title {
        width: 100%;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        margin-bottom: 1.8em;

        & h1 {
            font-size: 2.2em;
            font-weight: 300;
            & span {
                font-weight: 750;
            }
            // margin-bottom: 0.2em;
        }

        & p {
            font-size: 1.2em;
            font-weight: 300;
            margin-bottom: 0;
        }
    }

    &__card-container {        
        // @include globals.blockInternalMarginTop;       
        z-index: 1;
    }

    &__link {
        width: 100%;
        height: 100%;
        text-align: center;

        a {
            display: block;
            // @include const.font-size-adaptive(24px);
            padding-top: 2em;
            color: #929292;
            text-decoration: none;

            &:hover {
                color: color.adjust($color: #929292, $lightness: -20%);
            }
        }
    }
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    
    @media (max-width: map.get(const.$breakpoints, sm)) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: map.get(const.$breakpoints, vs)) {
        display: flex;
        flex-direction: column;        
    }   

    &__card {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        height: 400px;

        @media (max-width: map.get(const.$breakpoints, lg)) {
            height: 350px;
        }
        @media (max-width: map.get(const.$breakpoints, md)) {
            height: 250px;
        }
        @media (max-width: map.get(const.$breakpoints, sm)) {
            height: 200px;
        }
        @media (max-width: map.get(const.$breakpoints, xs)) {
            height: 180px;
        }
        @media (max-width: map.get(const.$breakpoints, vs)) {
            height: 150px;
        }

        &:hover {

          .card-container__text-container {
                background-color: rgba(100, 100, 100, 0);
                box-shadow: #949494 4px 4px 4px;
                text-shadow: #000000 1px 1px 1px;
            }

            .card-container__bg {
                transform: scale(1.05);
            }
        }
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        transform: scale(1); 
        transition: transform 0.4s ease-out 0.1s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text-container {
        position: relative;
        z-index: 1;
        background-color: rgba(100, 100, 100, 0.3);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;     
        color: #fff;
        transition: all 0.3s ease;
        box-shadow: #ffffff 4px 4px 4px;
        padding: 30px;
        @media (max-width: map.get(const.$breakpoints, lg)) {
            padding: 20px;
        }
        @media (max-width: map.get(const.$breakpoints, md)) {
            padding: 20px;
        }
        @media (max-width: map.get(const.$breakpoints, sm)) {
            padding: 10px;
        }
        @media (max-width: map.get(const.$breakpoints, xs)) {
            padding: 5px;
        }
        @media (max-width: map.get(const.$breakpoints, vs)) {
            padding: 15px;
        }  
    }

    &__top-text {
        align-self: flex-start;
    }
    &__season {
        text-transform: uppercase;
        font-size: 0.6rem;
        letter-spacing: 0.2em;
    }
    &__title {
        margin-top: 0.2em;
        font-size: 0.95rem;
        font-weight: 600;

        & a {
            color: #fff;
        }
    }
    &__bottom-text {
        width: 100%;
        text-align: right;
    }
    &__days {
        font-size: 0.65rem;
        letter-spacing: 0.05em;
    }
    &__price {
        font-size: 0.65rem;      
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & span:last-child{
            font-weight: 600;
        }
    }

    @media (max-width: map.get(const.$breakpoints, lg)) {
       &__price span:first-child, &__days span:first-child{
            display: none;
       }
    }
}
