@use "sass:color";
@use "sass:map";
@use '../const.scss';

.bg-container {
    background-color: const.$secondary-background-color;
}

.txt-oimg {
    padding: 3.5em 0 3.5em 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    min-height: 300px;
    
    &__img {
        background-image: url('https://territoryputorana.ru/img/anton.jpg');
        // background-color: #888;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 300;
        min-height: 100%;
            img {
                    background-color: #446;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
        @media (max-width: map.get(const.$breakpoints, sm)) {
            display: none;
        }        
    }

    &__text-block {
        background-color: #999;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 300;
        text-align: right;        
    }
    &__title {
        text-align: center;
        padding-right: 2rem;
        & h3 {
            // color: #fff;
            margin-block-end: 1.5em;
        }
    }
    &__text {
        & p {
            // text-align: justify;
            // padding-right: 2em;
            font-size: .9rem;
        }

        // & p:nth-child(even) {
        //     width: 70%;
        // }
        // & p:nth-child(odd){
        //     width: 70%;
        //     justify-self: flex-end;
        // }
        
        & p:last-child {
            font-style: italic;
        }

        & p:nth-last-child(2) {
            font-weight: 700;
        }
    }

    
}

