@use "sass:color";
@use "sass:map";
@use '../const.scss';




.bg-container {
    background-color: const.$secondary-background-color;
}

.txt-oimg {

    padding: 3.5em 0 3.5em 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    height: 1250px;
    @media (max-width: map.get(const.$breakpoints, md)) {
            height: 900px;
        }      
    @media (max-width: map.get(const.$breakpoints, sm)) {
            height: 100%;
        }     

    &__img {
        background-color: #888;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 300;
        height: 100%;
        img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            
        @media (max-width: map.get(const.$breakpoints, sm)) {
            display: none;
        }        
    }

    &__text-block {
        // background-color: #999;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 300;
        text-align: right; 
        align-self: center;

        @media (max-width: map.get(const.$breakpoints, sm)) {
            text-align: center;
        } 
    }


    &__title {

        & h2 {
            font-size: 2.2em;
            font-weight: 300;
            & span {
                font-weight: 750;
            }
        }


        & p {
            font-size: 1.2em;
            font-weight: 300;
            margin-bottom: 0;
        }

    }

    &__text {
        margin-top: 2em;

        // & p:nth-child(even) {
        //     width: 70%;
        // }
        // & p:nth-child(odd){
        //     width: 70%;
        //     justify-self: flex-end;
        // }
        
        & p:last-child {
            font-style: italic;
        }

        & p:nth-last-child(2) {
            margin-block-start: 1.5em;
            font-weight: 700;
        }
    }

    
}

