@use '../const.scss';
@use "sass:map";

.txt-fimg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 3.5em 0 3.5rem 0;
    gap: 1.5em;
    
    background-color: const.$primary-background-color;

    @media (max-width: map.get(const.$breakpoints, sm)) {
        flex-direction: column;
    }

    &__ph-container {
        flex: 1 1 900px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.1em;

        @media (max-width: map.get(const.$breakpoints, sm)) {
            display: block;
            flex: auto;
            & .txt-fimg__photo:nth-child(n+2) {
                display: none;
            }            
        }
    }

    &__photo {
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;

        &:nth-child(1) {
            grid-column: 1/4;
        }
        &:nth-child(2) {
            grid-column: 4/6;
        }
        &:nth-child(3) {
            grid-column: 1/3;
        }
        &:nth-child(4) {
            grid-column: 3/6;
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {

        border: 1px solid #bbb;

        flex: 1 1 350px;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;

        & h2 {
            font-size: 2.2em;
            font-weight: 300;
            & span {
                font-weight: 750;
            }
        }

        @media (max-width: map.get(const.$breakpoints, sm)) {
            border: 0;
            padding: 0;
            text-align: center;
            flex: auto;
        }
    }
}
