@use '../const.scss';


.videoBlock {
    background-color: const.$secondary-background-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5em 0 3.5em 0;

    &__title {
        align-self: center;
        width: 100%;
        
        & h2 {
            font-size: 2.2em;
            font-weight: 300;
            & span {
                font-weight: 750;
            }
        }


        & p {
            font-size: 1.2em;
            font-weight: 300;
            margin-bottom: 0;
        }
    }

    & video {
        margin-top: 1.5em;
        width: 100%;
        object-fit: contain;
    }

    & h2 {
        width: 100%;
        text-align: left;
        font-size: 2.2em;
        font-weight: 300;
        & span {
            font-weight: 750;
        }
    }
    
}