@use '../const.scss';


.videoBlock {
    background-color: const.$secondary-background-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5em 0 3.5em 0;

    & video {
        margin-top: 1.5em;
        width: 100%;
        object-fit: contain;
    }

    & h2 {
        text-align: center;
        font-size: 2.2em;
        font-weight: 300;
        & span {
            font-weight: 750;
        }
    }
    
}