@use '../../const.scss';
@use 'sass:map';
@use 'sass:color';


    .day {      
        background-color: const.$secondary-background-color;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 4px;
        border-left: none;
        border-right: none;
        cursor: pointer;
        margin-bottom: 1.2em;

        

        &__title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1.2em;

            & h3 {
                font-size: 1.2em;
            }

            & img {
                width: 1.5em;
                transition: all 0.4s ease;
            }
        }

        &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-height: 0px;
            overflow: hidden;

            transition: max-height 0.6s ease;

            @media (max-width: map.get(const.$breakpoints, sm)) {
                flex-direction: column;
            }
        }



        &__text {
                padding: 2em;
                height: 100%;
                flex: 1 1 30px;

                & p {
                    font-size: 0.8em;
                    text-align: justify;
                    font-weight: 300;
                }

                & ul {
                    margin-block-end: 2em;

                    & > li {
                        list-style: circle;
                        margin-left: 2em;
                    }
                }  
                @media (max-width: map.get(const.$breakpoints, sm)) {
                padding: 1em;
            }          
        }

        &__img {
            padding: 2em;
            flex: 1 1 20px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media (max-width: map.get(const.$breakpoints, sm)) {
                padding: 1em;
            }
        }

        
        &_opened {
            & .day__content {
                max-height: 800px;
                overflow: hidden;
            }

            .day__title img {
                rotate: (-180deg);
            }
        }
        
              
}
        
        


    
    



