@use '../../const.scss';
@use 'sass:map';
@use 'sass:color';

.tp-program {

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 0;

    & > h2 {
            font-size: 2.2em;
            font-weight: 300;
            
        }
    & span {
            font-weight: 750;
    }

    & h4 {
        font-size: 1.2em;
        font-weight: 300;
        margin-bottom: 1.8em;
    }

    & > p {
        font-size: 0.8em;
        font-weight: 400;
        width: 50%;
        border-right: 5px solid #979797;;
        align-self: flex-end;
        text-align: right;
        padding-right: 1.7em;
        color: #979797;
    }
    

    &__container {
        background-color: const.$primary-background-color;        
    }

    &__dayscontainer {
        width: 100%;
        margin-top: 1.2em;
    }

     
    

    // @media (max-width: map.get(const.$breakpoints, md)) {
    //     &__day {flex-direction: column-reverse;}
    //     &__img {width: 100%;}
    //     &__text {
    //         width: 100%;
    //         & h3 {
    //             margin-block-start: 1.5em;
    //         }
    //     }
    //     & h2 {text-align: center;}
    //     & h4 {text-align: center;}
    // }
    // @media (max-width: map.get(const.$breakpoints, sm)) {
    //     & > p {
    //         width: 100%;
    //     }
    // }
}

