@use '../const.scss';
@use 'sass:map';


.about-page {

    & p {
        font-size: .8em;
    }

    &:hover {
        .about-page__bg {
            filter: brightness(0.7);
        }
    }

    &__cover {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        position: relative;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: top;        
        z-index: -1;
        filter: brightness(0.55);
        transition: filter 0.7s ease;
    }

    &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
        align-items: center;

        & h1 {
            text-align: center;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            margin-block-end: 2em;
        }        
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 5em;
        padding-top: 3.5em;
    }

    &__about {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 3.5em;
    }

    &__title {
        margin-bottom: 1.8em;
        & > h2 {
            font-size: 2.2em;
            font-weight: 300;
            
        }
        & span {
                font-weight: 750;
        }

        & p {
            font-size: 1.2em;
            font-weight: 300;
            margin-bottom: 0;
        }
    }


    &__rowcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
        width: 100%;
        height: 600px;
        @media  (max-width: map.get(const.$breakpoints, xl)) {
            height: max-content;
        }
        @media  (max-width: map.get(const.$breakpoints, sm)) {
            flex-direction: column;
        }
        
    }

   
    &__owner {
        flex: 1 1 200px;

        & > img {    
                width: 100%;
                height: 100%;  
                object-fit: cover;
            }    
    }

     
    &__ownerdesc {       
        
        & > h3 {
            font-weight: 600;
            font-size: 0.8em;
            margin-block-end: 0.5em;
        }
        & > p {
            font-size: .8em;
            font-style: italic;
            margin-block: 0 0.35em;
            &:hover {
            transform: scale(1.01);
            }
        }
    }


    &__description {
        height: 100%;
        flex: 1 1 300px;
         & p {
            font-size: .8em;
            &:hover {
                transform: scale(1.01);
            }
        }

        &:hover {
            .about-page__columncontainer {
                border: 1px solid red;
            }
        }
    }
    

    &__photo {
        align-self: center;
        width: 80%;  
        text-align: center;      
        position: relative;
        @media (max-width: map.get(const.$breakpoints, md)) {
            width: 90%;
            display: flex;
            flex-direction: column;
        }

        & img {
            width: 60%;
            text-align: center;
            @media (max-width: map.get(const.$breakpoints, md)) {
                width: 100%;
                align-self: center;;
            }
        }

        & p {
            width: 25%;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.60rem;
            line-height: 1.5em;
            position: absolute;
            top: 40%;
            left: 7%;
            text-align: left;
            @media (max-width: map.get(const.$breakpoints, md)) {
                align-self: center;
                position: relative;
                width: 100%;
                left: 0;
                margin-top: 1.5em;
            }
        }
    }
    
}
