@use '../const.scss';
@use 'sass:map';


.about-page {

    & p {
        font-size: .8em;
    }

    &:hover {
        .about-page__bg {
            filter: brightness(0.7);
        }
    }

    &__cover {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        position: relative;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: top;        
        z-index: -1;
        filter: brightness(0.55);
        transition: filter 0.7s ease;
    }

    &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
        align-items: center;

        & h1 {
            text-align: center;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            margin-block-end: 2em;
        }        
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 5em;
        // padding: 2rem 0;
        padding-top: 3.5em;
    }

    &__about {
        // height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 3.5em;
        // @media (max-width: map.get(const.$breakpoints, md)) {
        //     flex-direction: column;
        // }
    }

    &__title {
        margin-bottom: 1.8em;
        & > h2 {
            font-size: 2.2em;
            font-weight: 300;
            
        }
        & span {
                font-weight: 750;
        }

        & p {
            font-size: 1.2em;
            font-weight: 300;
            margin-bottom: 0;
        }
    }

    &__columncontainer {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2.4em;        
        min-height: 600px;

        // padding: 2.4em;

        // border-left: 3px solid #eee;
        // border-right: 3px solid #eee;

       
        // &::before {
        //     position: absolute;
        //     top: 0px;
        //     left: 0px;
        //     content: '';
        //     display: block;
        //     height: 3px;
        //     width: 50%;
        //     background-color: #eee;            
        // }
        // &::after {
        //     position: absolute;
        //     bottom: 0px;
        //     left: 50%;
        //     content: '';
        //     display: block;
        //     height: 3px;
        //     width: 50%;
        //     background-color: #eee;            
        // }
        

        &:hover::before {
                    //  background-color: #bebebe;   
                              
            }
    }

    &__rowcontainer {
        display: flex;
        flex-direction: row;
        // align-items: flex-start;
        gap: 4em;
        // padding-bottom: 3.5em;
    }

   
    &__owner {
        height: 100%;
        flex: 1 1 500px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        // border-left: 3px solid #eee;
        // border-top: 3px solid #eee;
        // padding-top: 2.4em;
        // padding-left: 2.4em;

        &:hover {
            // border-left: 3px solid #bbb;
            // border-top: 3px solid #bbb;
        }
        // gap: 1.5em;
        // border-right: 3px solid #eee;
        // padding-right: 1.4em;

        // @media (max-width: map.get(const.$breakpoints, md)) {
        //     flex-direction: row;
        //     justify-content: space-between;
        //     gap: 3%;
        // }
        // @media (max-width: map.get(const.$breakpoints, xs)) {
        //     flex-direction: column;
        //     justify-content: space-between;
        //     gap: 3%;
        //     height: 100%;
        // }

        & > img {                
                width: 100%;
                height: 100%;
                
                // margin-bottom: 5%;
                object-fit: cover;
                // @media (max-width: map.get(const.$breakpoints, md)) {
                //     min-width: 40%;
                //     flex: 1 1 auto;
                //     margin: 0;
                // }
            }    
    }

     

    &__ownerdesc {
        align-self: center;
        // bottom: 7.3em;
        // background-color: rgba($color: #eee, $alpha: .85);
        
        // background-color: const.$secondary-background-color;
        // padding: 1em;
        // @media (max-width: map.get(const.$breakpoints, md)) {
        //     flex: 5 1 1200px;
        //     height: 100%;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-around;;
        // }
        // @media (max-width: map.get(const.$breakpoints, xs)) {
        //     flex: 1 1 auto;
        // }

        
        
        & > h3 {
            // margin-bottom: 0.5em;
            // color: const.$main-blue;
            // text-align: center;
            font-weight: 600;
            font-size: 0.8em;
            margin-block-end: 0.5em;
        }
        & > p {
            font-size: .8em;
            font-style: italic;
            margin-block: 0 0.35em;
            &:hover {
            transform: scale(1.01);
        }
            // text-align: center;
            // margin-block-end: 0.5em;
            // @include font-size-adaptive(20px);
            // line-height: 1.4em;
            // font-weight: 400;
        }
    }


    &__description {
        height: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 500px;
         & p {
            font-size: .8em;
            &:hover {
                transform: scale(1.01);
            }
        }

        // padding-right: 2.4em;
        // padding-bottom: 2.4em;

        // border-right: 3px solid #eee;
        // border-bottom: 3px solid #eee;

        &:hover {
            .about-page__columncontainer {
                border: 1px solid red;
            }
        }
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
    }
    

    &__photo {
        align-self: center;
        width: 80%;  
        text-align: center;      
        position: relative;
        @media (max-width: map.get(const.$breakpoints, md)) {
            width: 90%;
            display: flex;
            flex-direction: column;
        }

        & img {
            width: 60%;
            text-align: center;
            @media (max-width: map.get(const.$breakpoints, md)) {
                width: 100%;
                align-self: center;;
            }
        }

        & p {
            width: 25%;
            text-transform: uppercase;
            font-weight: 600;
            // @include font-size-adaptive(17px);
            font-size: 0.60rem;
            line-height: 1.5em;
            position: absolute;
            top: 40%;
            left: 7%;
            text-align: left;
            @media (max-width: map.get(const.$breakpoints, md)) {
                align-self: center;
                position: relative;
                width: 100%;
                left: 0;
                margin-top: 1.5em;
            }
        }
    }
    
}
