@use '../const.scss';
@use 'sass:map';

.about_partners {

    width: 100%;
    background-color: const.$main-blue;
    margin: 0 auto;

    & .content {
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
        & .text {
            font-size: 1.3rem;
            text-align: center;
            color: const.$white;
        }

        & .logos {
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            gap: 1rem;

            @media (max-width: map.get(const.$breakpoints, md)) {
                flex-wrap: wrap;
                width: 15rem;
                margin: 0 auto;
            }
            & img {                
                width: 3.5rem; 
                height: 100%;
            }
        }

    }
}