.paragraph {
  font-size: 0.8em;
  line-height: 1.2;
  letter-spacing: 0.1;
  margin-bottom: 0.8em;
}

.list {
  margin: 0 0 1em;
  padding-left: 0;
}

.listItem {
  list-style-type: disc;
  margin-left: 1.2em;
  padding-left: 0.4em;
  font-size: 0.8em;
  line-height: 1.2;

  &::marker {
    font-size: 1.1rem;
  }
}