@use '../../const.scss';
@use 'sass:color';
@use 'sass:map';


.tp-about {   
    
    width: 100%;
    margin: 0 auto;
    padding: 3.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    

    &__container {
        background-color: const.$secondary-background-color;
        width: 100%;
    }

    h2 {
        
        font-size: 2.2em;
        font-weight: 300;
    }

    &__main {
        display: flex;
        flex-direction: column;
        width: 55%;
        align-self: flex-start;

        font-weight: 300;

        & p {
            font-size: .8em;
        }

        & ul {
            margin-left: 2em;
            margin-block-end: 2em;

            & > li {
                list-style-type: disc;
                // @include font-size-adaptive(24px);
            }
        }
    }

    &__hit-container {
        width: 40%;
    }



    @media (max-width: map.get(const.$breakpoints, sm)) {
        flex-direction: column;
        &__main {
            width: 100%;

            & h2 {
                text-align: center;
            }

            & p {
                text-align: justify;
            }
        }


        &__hit-container {
            width: 100%;
        }
    }
}
