@use '../const.scss';
@use 'sass:map';

.zaton {   
    padding: 3.5rem 0;
    background-color: const.$secondary-background-color;
    

    &__container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 5%;

        & > img {
            flex: 1 1 300px;
            min-width: 30%;
            object-fit: cover;
            border-radius: 2em;
            @media (max-width: map.get(const.$breakpoints, md)) {
                margin-bottom: 2em;
            }
        }

        @media (max-width: map.get(const.$breakpoints, md)) {
            flex-direction: column;
        }
    }

   
    

    

    &__text {
        flex: 1 1 300px;
        @media (max-width: map.get(const.$breakpoints, md)) {
            flex: 1 1 auto;
        }
        & > p {
            font-size: 0.9rem;
        }
    }
}