@use '../const.scss';
@use 'sass:color';

.expeditions {
    padding: 3.5rem 0;

    &__container {
        margin: 0 auto;
        & h2 {
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 500;
        }

        & > h3 {
            font-size: 1.3rem;
            color: color.adjust(const.$black,  $lightness: 60%)
        }
    }
}