@use '../../const.scss';
@use 'sass:color';
@use 'sass:map';

.textBlock {
    width: 100%;
    padding: 3.5em 0;

    // background-color: #eee;

    font-weight: 300;

    // font-size: .8em;

    &__container {
        margin: 0 auto;

        & ul > li {
            // list-style-image: url('/check.svg');
            list-style-type: disc;
            padding-left: 0.5rem;
            margin-left: 1em;
            font-size: 0.8em;
            &::marker {
                font-size: 1.2rem;
            }
        }
    }    

    & h2 {
        letter-spacing: 0.7;
        font-size: 2.2em;
        font-weight: 300;
        // margin-block-end: .8em;
    }

    & p {
        font-size: .8em;
        line-height: 1.2;
        letter-spacing: 0.1;
        margin-bottom: .8em;
    }

    & a {
        text-decoration: underline;
    }
}