@use '../../const.scss';
@use 'sass:map';
@use 'sass:color';


.infoframe {
        padding: 1.8em;

        border: 1px solid rgb(189, 189, 189);
        border-radius: 4px;
        border-left: none;
        border-right: none;


        // background-color: #d6d6d6;
        background-color: rgb(29, 29, 27);
        width: 100%;
        text-align: left;
        transition: all 0.3s ease;

        color: white;

        & h3 {
            font-size: 1.15rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-block-end: 0.5em;
        }

        & p {
            font-size: 0.66rem;
            width: 100%;
            // font-weight: 500;
            line-height: 1.4em; 
            
        }

        // &:hover {
        //     background-color: #e4e3e3;
        //     box-shadow: 2px 2px 2px #d6d6d6;
        // }

        & a {
            text-decoration: underline;
            font-style: italic;
        }
       
    &__price {
        font-size: 0.8rem;
        color: #979797;
    }

    

    

    &__note {
        & span {
            font-style: italic;
            font-size: 0.6rem; 
        }
        
        &_included {
            span {
                border-bottom: 1px dotted;
                cursor: pointer; 
                // line-height: 2.35;  
            }
        }
                     
    }

    // &__modal {
    //     position: fixed;
    //     right: calc(50vw - 150px);
    //     top: 10vh;
    //     max-width: 450px;
    //     background-color: const.$secondary-background-color;
    //     border-radius: 2%;
    //     z-index: 11;

    //     & ul > li {
    //         // @include font-size-adaptive(17px);
    //         font-size: 1.7rem;
    //     }
    // }

    &__note_included:hover &__modal.display-switch {
        display: block;
    }

    & .display-switch {
        display: none;
    }

    & details {
        margin-top: 1em;
        font-size: 0.6em;
        & summary::-webkit-details-marker {
            font-size: .1em;
        }
    }
    
    // summary::-webkit-details-marker {
    //     font-size: 0.6em;
    // }
    
}


    
.modal__text {
    margin-top: 1em;
    color: color.adjust(white, $lightness: -35%);
    text-align: left;

    & p {
        margin: 0.4em;
    }

    & ul > li {
        font-size: 0.6rem;
        list-style: circle;
    }

    & ol > li {
        list-style: decimal;
        font-size: 0.6rem;
    }
}


