@use '../../const.scss';
@use 'sass:map';
@use 'sass:color';


.infoframe {
        padding: 1.8em;
        background-color: #d6d6d6;
        width: 100%;
        text-align: left;
        transition: all 0.3s ease;

        & h3 {
            text-align: center;
            color: const.$main-blue;
            font-weight: 700;
        }

        & p {
            line-height: 1.35;
            font-size: 0.8em;
            & span:first-child {
                font-weight: 700;
            }
            margin-block-end: 0em;
            
        }

        &:hover {
            background-color: #e4e3e3;
            box-shadow: 2px 2px 2px #d6d6d6;
        }

        & a {
            text-decoration: underline;
            font-style: italic;
        }
       
    &__price {
        font-weight: 500;
        font-size: 1.3rem;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    

    

    &__note {
        & span {
            font-style: italic;
            font-size: 0.8rem; 
        }
        
        &_included {
            span {
                border-bottom: 1px dotted;
                cursor: pointer; 
                // line-height: 2.35;  
            }
        }
                     
    }

    &__modal {
        position: fixed;
        right: calc(50vw - 150px);
        top: 10vh;
        max-width: 450px;
        background-color: const.$secondary-background-color;
        border-radius: 2%;
        z-index: 11;

        & ul > li {
            // @include font-size-adaptive(17px);
            font-size: 1.7rem;
        }
    }

    &__note_included:hover &__modal.display-switch {
        display: block;
    }

    & .display-switch {
        display: none;
    }

    & details {
        font-size: 0.75rem;
    }
    
    
}


    
.modal__text {
    padding: 10%;
    color: color.adjust(const.$main-blue, $lightness: -20%);
    text-align: left;

    & p {
        margin: 0.4em;
    }

    & ul > li {
        font-size: 0.7rem;
        list-style: circle;
    }

    & ol > li {
        list-style: decimal;
        font-size: 0.7rem;
    }
}


