@use '../const.scss';
@use 'sass:map';
@use 'sass:color';



.tours-page {
    position: relative;
    background-color: const.$secondary-background-color;
    padding-top: calc(map.get(const.$header-height, vl) + 3.5em);
        @media (max-width: map.get(const.$breakpoints, lg)) {
            padding-top: calc(map.get(const.$header-height, lg) + 3.5em);
        }
        @media (max-width: map.get(const.$breakpoints, md)) {
            padding-top: calc(map.get(const.$header-height, md) + 3.5em);
        }
        @media (max-width: map.get(const.$breakpoints, sm)) {
            padding-top: calc(map.get(const.$header-height, sm) + 3.5em);
        }
        @media (max-width: map.get(const.$breakpoints, xs)) {
            padding-top: calc(map.get(const.$header-height, xs) + 3.5em);
        }
        @media (max-width: map.get(const.$breakpoints, vs)) {
            padding-top: calc(map.get(const.$header-height, vs) + 3.5em);
        }
    
        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

        &__title {
            position: relative;

            h1 {
                position: relative;
                text-transform: uppercase;
                font-weight: 500;
                z-index: 1;

                &::after {
                    content: 'ТУРЫ';
                    position: absolute;
                    left: 0.4em;
                    top: -0.4em;
                    font-size: 4.5rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: color.adjust(const.$secondary-background-color, $lightness: -10%);
                    z-index: -1;
                }
            }

            h3 {
                font-weight: 400;
                color: #7c7c7c;
                // margin-block-end: 1.5em;
            }

        }
}

