@use '../../const.scss';
@use "sass:color";
@use "sass:map";

.req-block {
    // background-color: #999;
    width: 100%;
    height: 950px;
    margin: 0 auto;

    padding: 3.5em 0 3.5rem 0;
    display: flex;
    gap: 1.5em;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: map.get(const.$breakpoints, lg)) {
        height: 850px;
    }

    @media (max-width: map.get(const.$breakpoints, md)) {
        height: 750px;
    }

    @media (max-width: map.get(const.$breakpoints, sm)) {
        flex-direction: column-reverse;
        height: auto;
        &__image {
            display: none;
        }

        &__form {
            & form {
                margin-top: 1em;
            }
        }
    }

    // &__container {
    //     background-color: #aaa;
    //     width: 100%;
    //     height: 100%;
    //     // z-index: -1;
    //     // filter: blur(0px);
    //     // transition: all 0.8s ease;
    //     // background-position: center bottom;
    //     // background-size: cover;
    // }    

    // &:hover::before {
    //     filter: blur(2px);
    // }

    &__image {
        width: 100%;
        height: 100%;

        flex: 1 1 400px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &__form {
        width: 100%;
        height: 100%;

        flex: 1 1 500px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }




    &__text {
        // color: #fff;
        text-align: center;

        & h2 {
            font-size: 2.2em;
            font-weight: 300;
        }


        & p {
            font-size: 1.2em;
            font-weight: 300;
            margin-bottom: 0;
        }
    }


    & form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .3em;


        input, select, textarea {
            height: 3.5em;
            padding: 0.8em;
            border: 0;
            border-radius: 3px;
            background-color: const.$secondary-background-color;  
            outline-color: const.$secondary-background-color;
            
            *:focus {
                border: 0;
                outline: 0;
                outline-color: #fff;
            }
        }

        input {
            *:focus {
                border: 0;
                outline: 0;
            }
        }

        select {

            * option {
                // color: black;
            }

            *:focus {
                border: 1px solid black ;
                color: black;
                outline: 0;
                box-shadow: 0;
            }
        }

        textarea {
        }

        button {
            margin-top: 1.5em;
            margin-bottom: 1em;
            position: relative;
            background-color: #353535;
            padding: 0.8em;
            border: 2px;
            color: #fff;
            box-shadow: 2px 2px 2px #000000;
            // @include font-size-adaptive(18px);
            font-weight: 700;
            transition: all 0.4s ease;
            cursor: pointer;

            &:hover {
                // background-color: rgb(165, 190, 215);
                background-color: #444;
                // color: rgb(40, 65, 110);
            }

            &:active {
                box-shadow: none;
                top: 2px;
                left: 2px;
            }
        }

        label {
            color: #222;
            font-size: 0.7rem;
            text-align: center;

            & a {
                color: #333;
                text-decoration: underline;
            }
        }
    }
}

.thankyou {
    position: absolute;
    left: 10%;
    top: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    z-index: 11;
    background: transparent;
    border: 1px solid #bbc3d3;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, .5);
    overflow: hidden;
    
    &__close {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 45px;
        height: 45px;
        background-color: const.$main-blue;
        border-bottom-left-radius: 20px; 
            
        &:hover {
            cursor: pointer;
            background-color: #fff;
            transition: all 0.3s ease;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        height: 80%;
        align-items: center;
        justify-content: center;
        text-align: center;


        & h3 {
            color: color.adjust(const.$main-blue, $lightness: -10%);
            font-weight: 500;
        }
    }
}

.thankyou__close:hover::after, .thankyou__close:hover::before {
    background-color: const.$main-blue;
    transition: all 0.3s ease;
}

.thankyou__close::after {
    position: absolute;
    top: 20px;
    left: 10px;
    content: '';
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.thankyou__close::before {
    position: absolute;
    top: 20px;
    left: 10px;
    content: '';
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(-45deg);
}

